[defaults]
inventory           = inventory/hosts.ini
host_key_checking   = False
# Enkripsi
vault_password_file = .vault_pass

[privilege_escalation]
become      = True
become_method = sudo
become_user = root